/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

 

  /* my code */
  .hero-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #48A6A7;
    color: white;
    text-align: center;
    padding: 4rem 0;
  }
  .pic-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #006A71 solid 2px;
    margin: 20px;
  }
  .profile-picture{
    width: 145px;
    height: 145px;
    border-radius: 50%;
  }
  .hero-tittle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    
  }
  .stack-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
    
  }
  .stack-tittle{
    color: #006A71;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 20px;
  }
  .card-image{
    height: 50px;
    width: 50px;
  }
  .card-container{
    background-color: #006A71;
    border-radius: 10px;
    border: #F2EFE7 solid 2px;
   width: 150px;
   height: 75px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    
.collapse{

  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 5px;
 
  
}
  
.navbar {
  background-color: #006A71;
 
}

.footer-section{
  background-color: #006A71;
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-top: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 14px;    
}


.card-project{
  background-color: white;
  border-radius: 10px;
  border: #006A71 solid 2px;
  width: 325px; 
  height: 500px;   
  text-align: center; 
  margin: 10px;
  color: #48A6A7;
}
.project-image{
  height: 250px;
  width: 320px;
  /* border-bottom: #006A71 solid 2px; */
  border-radius: 10px;
  
 
}
.projects-container{
  margin: 20px;
  display: flex;
  flex-direction: row;
}